@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

.card {
  margin: 0 auto;
  margin-top: 5%;
  padding: 5px 30px;
  width: 400px;
  height: 520px;
  border-radius: 10px;
  border: solid white 1px;
  background-color: #012376;
  backdrop-filter: blur(20px) saturate(120%) contrast(200%);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: open 2s cubic-bezier(0.39, 0, 0.38, 1);
}

.login-top{
      text-align: center;
      color: #fff;
      margin-top: 10px;
      font-size: 32px;
      letter-spacing: 1px;
      font-weight: 700;
}

.user-input{
      width: 100%;
      margin: 30px 0px 0px 0px;
      border-radius: 15px;
      border: 1px solid white;
      padding: 10px 10px 10px 25px;
      background-color: #fff;
}
  
  .user-pass{
      width: 100%;
      margin: 30px 0px 15px 0px;
      border-radius: 15px;
      border: 1px solid white;
      padding: 10px 10px 10px 25px;
      background-color: #fff;  
  }
  .submit-button{
      width: 100%;
      border: 2px solid white;
      padding: 7px 0px;
      border-radius: 10px;
      margin-top: 25px;
      background-color: #F50098;
      color: #fff;
      font-weight: 700;
  }

  .submit-button:hover{
      border: 2px solid #1A237E;
      background-color: #fff;
      color: #1A237E;
      transition: .5s;
  }
 
.forgot-password {
  text-align: center;
  text-decoration: underline;
  background-color: transparent;
  border: 0px;
  color: #fff;
  margin-top:10px; 
}