.navbar{
    padding:10px 0;
    background: #012376;
}

.navbar-brand{
  width: 100px;
  height: 70px;
}

.nav-item {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.navbar li {
    padding:0 20px;
}

.navbar ul {
    padding:0;
    list-style:none;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.navbar ul a:hover {
    opacity:1;
  }